{% extends 'layout.html' %}
{% load myfilters %}
{% block content %}
    <h1 class="container fas fa-align-center">
       {{misol_sharti}} 
    </h1>
    {% if txt %}
        {% for b in data %}
            <h2>{{txt}}  {{b}}</h2>
        {% endfor %}
    {% else %}
        <table class="table table-striped">
            {% for book in books %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in book.keys %}
                            <th scope="col">{{field|capfirst}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% endif %}
                        <tr>
                            {% for b in book.values %}
                            <td>{{ b }}</td>
                            {% endfor %}
                        </tr>
                {% if forloop.last %}
                </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}


