{% extends "layouts/base.html" %}
{% load i18n cart %}

{% block content %}
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-5">
                <div class="square-img">
                    <div class="img" style="background-image: url('{{ object.photo.url }}')"></div>
                </div>
            </div>
            <div class="col-lg-7 mt-3 mt-lg-0">
                <h1>{{ object.name }}</h1>
                <p>{{ object.category.name }}</p>
                <p>{{ object.price }} so'm</p>
                <p>{{ object.get_status_display }}</p>
                <div class="d-flex">
                    <div class="me-2">{% translate "karzinaga qo'shish" %}</div>
                    {% if object|in_cart:request %}
                        <a class="me-2" href="{% url "order:dec" object.id %}?to={{ request.path }}">
                            -
                        </a>
                        <div class="me-2">{{ object|in_cart:request }}</div>
                        <a href="{% url "order:inc" object.id %}?to={{ request.path }}">
                            +
                        </a>
                    {% else %}
                        <a href="{% url "order:inc" object.id %}?to={{ request.path }}">
                            <i class="bi bi-bag-fill"></i>
                        </a>
                    {% endif %}</div>
                </div>
            </div>

    </div>
    <div class="container mt-4">
        <h4>{% translate "O'xshash kitoblar" %}</h4>
        <div class="row">
            {% for row in similar %}
                <div class="col-lg-3 col-6">
                    {% include 'blocks/book.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}