{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block content %}
    {% if ad_books %}
        <div class="section-header" xmlns="http://www.w3.org/1999/html">
            <div class="container pb-5">
                <div class="row flex-lg-row-reverse">
                    <div class="col-lg-5">
                        <a href="{% url "catalog:book" ad_books.0.slug ad_books.0.id %}">
                            <div class="header-image-border position-relative">
                                <div class="header-image position-relative overflow-hidden">
                                    <div class="img position-absolute start-0 end-0 top-0 bottom-0"
                                         style="background-image: url('{{ ad_books.0.photo.url }}')">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 mt-5 mt-lg-0">
                        <div class="d-flex flex-column justify-content-center align-items-center align-items-lg-start"
                             style="min-height: 100%">
                            <h1>{{ ad_books.0.name }}</h1>
                            <div class="mt-3">{{ ad_books.0.short_info }}</div>
                            <a href="{% url "catalog:book" ad_books.0.slug ad_books.0.id %}" class="btn btn-dark mt-3">
                                <i class="bi bi-bag-fill"></i>
                                Sotib olish
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if publishers %}
        <div class="container py-4">
            <div class="row row-cols-md-3 row-cols-2 row-cols-lg-5 justify-content-center g-3">
                {% for pub in  publishers %}
                    <div class="col">
                        <div class="square-img">
                            <a href="#" class="img" style="background-image: url('{{ pub.logo.url }}')">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if ad_books %}
        <div class="section-ad-books py-3">
            <div class="container">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="square-img">
                            <a href="{% url "catalog:book" ad_books.1.slug ad_books.1.id %}" class="img"
                               style="background-image: url('{{ ad_books.1.photo.url }}')"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            {% for row in ad_book4_6 %}
                                <div class="col-lg-6 col-md-3 col-6">
                                    <div class="square-img">
                                        <a href="{% url "catalog:book" row.slug row.id %}" class="img"
                                           style="background-image: url('{{ row.photo.url }}')"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if last_books %}
        <div class="section-last-books">
            <div class="container">
                <h1 class="text-center mt-5 fs-h">{% translate "Oxirgi kitoblar" %}</h1>
                <div class="row g-3 my-3">
                    {% for row in last_books %}
                        <div class="col-lg-3 col-6">
                            {% include 'blocks/book.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if ad_books %}
        <div class="section-black-ad-books bg-dark py-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{% url "catalog:book" ad_books.6.slug ad_books.6.id %}">
                            <div class="square-img">
                                <div class="img" style="background-image: url('{{ ad_books.6.photo.url }}')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="d-flex flex-column justify-content-center align-items-center align-items-lg-start text-white"
                             style="min-height: 100%">
                            <a href="{% url "catalog:book" ad_books.6.slug ad_books.6.id %}" class="text-white">
                                <h2>{{ ad_books.6.name }}</h2></a>
                            <div class="mt-3">{{ ad_books.6.short_info }}</div>
                            <a href="{% url "catalog:book" ad_books.6.slug ad_books.6.id %}" class="btn btn-default bg-white text-black mt-3">
                                <i class="bi bi-bag-fill"></i>
                                Sotib olish
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}